.DS_Store
node_modules/
package-lock.json
yarn.lock
npm-debug.log
local.log
test-dist/
coverage/
wdio-error-shots/
wdio-docker-logs/
logs/
browserstack.err
dist/
!test/automated/fixtures/node_modules/
