.Stylefileinput {
	position: relative;
	overflow: hidden;
}

.Stylefileinput-input {
	position: absolute;
	z-index: 1000;
	height: 100px;
	border: 1px solid #000;
	opacity: 0;
	background: transparent;
	cursor: pointer;
}

.Stylefileinput-input[disabled] {
	cursor: default;
}
